# Flask
SECRET_KEY=change-me-to-a-long-random-string
FLASK_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/tas_db

# Mail (Gmail app password recommended)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=aicontentcreator772@gmail.com
MAIL_PASSWORD=qvkjssnbqjrjhrbl
MAIL_DEFAULT_SENDER=aicontentcreator772@gmail.com

# Default admin (created on first run if missing)
ADMIN_EMAIL=shriaigal@gmail.com
ADMIN_PASSWORD=Admin@12345
ADMIN_NAME=Administrator

# OTP
OTP_EXPIRY_MINUTES=5
